body {
  background-color: black;
  font-family: 'Dancing Script', cursive;
}

.contenedor {
  margin: 0 auto;
  -webkit-animation: slide 1s forwards;
}

header {
  border-radius: 10px 10px 0 0;
  background-color: #5b7989;
  color: white;
}

h1 {
  font-size: 34px;
  text-shadow: 2px 2px black;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline;
}

ul li a {
  color: white;
  text-decoration: underline;
  font-size: 21px;
}

#sinsub {
  text-decoration: none;
}

#inferior {
  background-color: #d5c75f;
}

/* FILTROS DE IMAGEN */
#img1 {
  -webkit-filter: blur(10px);
  filter: blur(10px);
}

#inferior div:nth-child(even) {
  -webkit-filter: grayscale(100%);
  filter: sepia(100%);
}

#img3 {
  -webkit-filter: sepia(80%);
  filter: sepia(80%);
}

/* Fin de filtros de imagen */
footer {
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
}

.svg {
  width: 2em;
}

/*====== DESKTOP====== */
@media (min-width:900px) {
  .contenedor {
    width: 900px;
    margin: auto;
  }

  /* Header */
  header {
    display: flex;
    flex-flow: row nowrap;
  }

  h1 {
    margin-left: 5vw;
    width: 50%
  }

  nav {
    width: 50%;
  }

  ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 8% 8% 8% 18%;
  }

  nav ul li {}

  nav ul li a {
    margin: 1vh;
  }

  /* Sección 2 */
  #inferior {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    padding: 2%
  }

  #inferior div {
    width: 33.3%;
  }

  #inferior div img {
    width: 94%;
    margin: 2% 2%;
  }

  /* Footer */
  footer {
    width: auto;
  }

  .piegeneral {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 4%;
  }

  .pie1 {
    width: 25%;
  }

  .pie2 {
    width: 25%;
  }

  .pie3 {
    width: 25%;
  }

  .pie4 {
    width: 25%;
  }
}

/*====== MOVIL====== */
@media (max-width:900px) {
  .contenedor {
    width: 100%;
  }

  /* Header */
  header {
    display: flex;
    flex-flow: row wrap;
  }

  h1 {
    margin-left: 5vw;
    width: 100%;
    text-align: center;
  }

  nav {
    width: 100%;
    padding: 2%;
    float: left;
  }

  ul {
    text-align: center;
  }

  nav ul li {
    padding: 2vw;
  }

  nav ul li a {
    margin: 1vh;
  }

  /* Sección 1 */
  #inferior {
    width: auto;
    display: flex;
    flex-flow: row wrap;
    padding: 1%;
  }

  #inferior div {
    width: 100%;
    padding: 3%;
  }

  #inferior div img {
    width: 100%;
  }

  /* #divimg2 {
      width: 100%;
      padding: 2%;
    }

    #img2 {
      width: 100%;
    }

    #divimg3 {
      width: 100%;
      padding: 2%;
    }

    #img3 {
      width: 100%;
    } */
  /* Footer */
  footer {
    width: auto;
  }

  .piegeneral {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 4%;
  }

  .pie1 {
    width: 100%;
  }

  .pie2 {
    width: 100%;
  }

  .pie3 {
    width: 100%;
  }

  .pie4 {
    width: 100%;
  }
}

/* ANIMACIONES  */
@-webkit-keyframes slide {
  0% {
    margin-top: 150%;
  }

  60% {
    margin-top: -5%;
  }

  100% {
    margin-top: 0%;
  }
}

@-webkit-keyframes rotacion {
  0% {
    transform: rotate(0deg)
  }

  60% {
    transform: rotate(10deg);
    border-right: solid 2px black;
    border-bottom: solid 2px black;
    box-shadow: 2px 2px #82c3a6;
  }

  100% {
    transform: rotate(0deg);
  }
}

@-webkit-keyframes trasladar {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(20px, -5px);
    box-shadow: 2px 2px 2px #82c3a6;
  }

  100% {
    transform: translate(0px, 0px);
  }
}
